@import "stanadard";

#main {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 1px) !important;
  //   gap: 5px;
  #col-1 {
    background: $bg-color;
    flex: 0 0 256px;
    max-width: 256px;
    min-width: 256px;
    width: 256px;
    height: calc(100% - 32px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 16px;
    position: relative;
    transition: all 0.1s ease-in-out;
    &.active {
      flex: 0 0 45px;
      max-width: 45px;
      min-width: 45px;
      width: 45px;
      #chat-history {
        .logo-wrapper {
          justify-content: center;
          span {
            display: none;
          }
        }
        .tabs-wrapper {
          align-items: center;
          .new-chat-btn {
            width: 32px;
            height: 32px;
            margin-bottom: 5px;
            .icon-wrapper {
              background: transparent;
              color: $white;
              width: 100%;
              height: 100%;
              font-size: 20px;
            }
            span {
              &:not(.icon-wrapper) {
                display: none;
              }
            }
          }
          .chat-btn {
            padding: 10px;
            span {
              display: none;
            }
          }
        }
        .chat-inner-wrapper {
          grid-template-rows: 50px 0;
          position: relative;
          .heading-wrapper {
            justify-content: center;
            .fa-clock-rotate-left {
              font-size: 18px;
              color: rgba(255, 255, 255, 0.6);
            }
            * {
              &:not(.fa-clock-rotate-left) {
                display: none;
              }
            }
          }
          &:hover {
            ul {
              position: absolute;
              top: 0;
              left: 100%;
              width: 200px;
              background-color: $white;
              z-index: 3;
              padding: 15px;
              border-radius: 10px;
              li {
                button {
                  color: $black;
                  input[type="text"] {
                    color: inherit;
                  }
                  &.active {
                    background: #f3f0ff;
                  }
                }
              }
            }
          }
        }
      }
    }
    #menu {
      width: 100%;
      border-top: 1px solid rgba(255, 255, 255, 0.06);
      border-bottom: 1px solid rgba(255, 255, 255, 0.06);
      padding: 20px 0;
      #uploadForm {
        padding: 10px;
        position: relative;
        z-index: 3;
        margin-bottom: 0;
        label {
          height: 140px;
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          cursor: pointer;
          color: var(--white);
          justify-content: center;
          background: linear-gradient(135deg, #868cff 0%, #4318ff 100%);
          border-radius: 16px;
          position: relative;
          span {
            font-size: 16px;
            line-height: 20px;
            font-family: inherit;
          }
          .drop-text {
            background: rgba(255, 255, 255, 0.16);
            height: 35px;
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--white);
            border-radius: 45px;
            font-weight: 500;
            font-size: 0.75rem;
          }
          input[type="file"] {
            display: none;
          }
        }
        .upload-btn {
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 5px 0 0 0;
          cursor: pointer;
          font-size: 18px;
          line-height: 18px;
          font-family: inherit;
          padding: 5px;
          color: var(--white);
          border-radius: 45px;
          font-weight: 600;
          -webkit-transition: 0.25s all ease;
          transition: 0.25s all ease;
          border: none;
          outline: none;
          height: 2.5rem;
          font-size: 0.875rem;
          width: 100%;
          background: #1b254b;
          &:hover {
            background: #111c44;
          }
        }
      }
    }
    #chat-history {
      height: calc(100% - 205px);
      position: relative;
      z-index: 3;
      width: 95%;
      .logo-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 15px;
        height: 40px;
        width: 100%;
        max-width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.06);
        gap: 20px;
        margin: 0 auto;
        .icon-wrapper {
          width: 40px;
          height: 40px;
          background-color: #363636;
          border-radius: 10px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          img {
            width: 70%;
            height: 100%;
          }
        }
        span {
          font-size: 20px;
          font-weight: 700;
          letter-spacing: -0.8px;
          cursor: pointer;
          color: $white;
          transition: all 0.2s ease-in-out;
        }
      }
      .tabs-wrapper {
        border-bottom: 1px solid rgba(255, 255, 255, 0.06);
        padding: 16px 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .new-chat-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          background: #3c38ff;
          border: none;
          border-radius: 8px;
          color: #fff;
          transition: background 0.3s ease;
          cursor: pointer;
          height: 40px;
          font-size: 14px;
          font-weight: 600;
          max-width: 133px;
          .icon-wrapper {
            width: 12px;
            height: 12px;
            background: $white;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: #3c38ff;
            font-size: 10px;
            border-radius: 4px;
          }
        }
        .chat-btn {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 20px;
          max-width: 100%;
          padding: 12px 15px;
          border-radius: 8px;
          span {
            color: rgba(255, 255, 255, 0.8);
            font-size: 14px;
            font-weight: 500;
          }

          &:hover,
          &:active,
          &.active {
            background: rgba(255, 255, 255, 0.06);
          }
          &.pdf-btn {
            i {
              background: linear-gradient(90deg, #6776ff 0%, #5ed8ff 100%);
              -webkit-background-clip: text;
              background-clip: text;
              -webkit-text-fill-color: transparent;
            }
            &:hover,
            &:active,
            &.active {
              span {
                background: linear-gradient(90deg, #6776ff 0%, #5ed8ff 100%);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
              }
            }
          }
          &.web-btn {
            i {
              background: linear-gradient(
                90deg,
                #6a88fc -1.74%,
                #ff7bed 99.72%
              );
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
            &:hover,
            &:active,
            &.active {
              span {
                background: linear-gradient(
                  90deg,
                  #6a88fc -1.74%,
                  #ff7bed 99.72%
                );
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
            }
          }
        }
      }
      .chat-inner-wrapper {
        display: grid;
        grid-template-rows: 50px calc(100% - 1px);
        transition: all 0.2s ease-in-out;
        gap: 16px;
        &.active {
          grid-template-rows: 50px 0;
        }
        .heading-wrapper {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 5px;
          color: $white;
          font-size: 13px;
          cursor: pointer;
          padding-left: 13px;
          padding-right: 10px;
          .fa-chevron-right {
            display: none;
          }
          &.active {
            .fa-chevron-right {
              display: inline-block;
            }
            .fa-chevron-down {
              display: none;
            }
          }
        }
        h3 {
          margin: 0;
          padding-left: 5px;
          color: inherit;
          font-size: 13px;
          line-height: 24px;
          font-family: inherit;
          color: inherit;
          font-weight: 500;
          letter-spacing: 0px;
          font-size: 0.875rem;
          flex: 1;
        }
        ul {
          overflow-y: auto;
          margin: 0;
          display: flex;
          flex-direction: column;
          gap: 15px;
          height: auto;
          li {
            width: 100%;
            display: block;
            margin: 0 auto;
            button {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              gap: 10px;
              padding: 10px;
              font-size: 16px;
              line-height: 18px;
              color: $textColor;
              cursor: pointer;
              border-radius: 5px;
              border: 1px solid transparent;
              background: transparent;
              /* border: none; */
              outline: none;
              transition: all 0.2s ease-in-out;
              white-space: no-wrap;
              overflow: hidden;
              input[type="text"] {
                background: transparent;
                appearance: none;
                box-shadow: none;
                padding-block: 0;
                padding-inline: 0;
                color: $white;
                font-weight: 700;
                border: none;
                outline: none;
                // &:hover:not(:read-only),
                // &:focus-visible:not(:read-only),
                &:focus:not(:read-only) {
                  border: 1px solid $white;
                  border-radius: 5px;
                  padding: 5px;
                  outline: none;
                  font-weight: 400;
                }
              }
              .action-div,
              .edit-div {
                display: none;
              }
              &:hover,
              &.active,
              &:active {
                background: rgba(255, 255, 255, 0.06);
                input[type="text"] {
                  width: 70%;
                }
                .action-div {
                  gap: 5px;
                  align-items: center;
                  justify-content: flex-end;
                  width: 18%;
                  i {
                    opacity: 0.6;
                  }
                  &:not(.active) {
                    display: inline-flex;
                  }
                  &.active {
                    display: none;
                  }
                }
                .fa-square {
                  color: red;
                }
                .edit-div {
                  gap: 5px;
                  align-items: center;
                  justify-content: flex-end;
                  width: 18%;
                  display: none;
                  &.active {
                    display: inline-flex;
                  }
                }
              }
            }
          }
        }
      }
    }
    .wrapp-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 48px;
      padding: 0 3px;
      background: rgba(0, 0, 0, 0.2);
      border: none;
      border-radius: 0 8px 8px 0;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(100%, -50%);
      z-index: 9;
      transition: all 0.3s ease;
      cursor: pointer;
      color: $white;
      z-index: 2;
      .fa-chevron-right {
        display: none;
      }
      &.active {
        .fa-chevron-right {
          display: inline-block;
        }
        .fa-chevron-left {
          display: none;
        }
      }
    }
    .profile-div {
      width: 100%;
      padding-top: 20px;
      .upgrade-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        max-height: 40px;
        padding: 8px;
        margin-top: 16px;
        color: #fff;
        font-weight: 600;
        background: rgba(255, 255, 255, 0.06);
        border: 1px solid rgba(255, 255, 255, 0.12);
        border-radius: 8px;
        transition: all 0.3s ease;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.04),
          0 4px 12px rgba(0, 0, 0, 0.06);
        cursor: pointer;
      }
      .profile-inner-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 0 10px;
        .img-wrapper {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
          }
        }
        h4 {
          color: rgba(255, 255, 255, 0.8);
          font-size: 16px;
          font-weight: 600;
          margin: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .scan-modal-btn {
          color: $white;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 8px;
          padding: 2px;
          background: rgba(255, 255, 255, 0.06);
          border-radius: 8px;
          transition: all 0.3s ease;
          cursor: pointer;
          position: relative;
          width: 28px;
          height: 28px;
        }
      }
    }
  }
}

/* pdf css start */
.right-div {
  background: transparent;
  padding: 8px 8px 8px 0;
  border-radius: 8px;
  flex: 1;
  .header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    max-width: 100%;
    max-height: 52px;
    padding: 12px;
    background: #ffffff;
    font-size: 14px;
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 8px 8px 0 0;
    .document-name-wrapper {
      display: flex;
      align-items: center;
      gap: 12px;
      .icon-wrapper {
        background: rgb(255, 82, 28);
        width: 28px;
        height: 28px;
        font-size: 20px;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
      }
      .document-name {
        width: 100%;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        color: $black;
      }
    }
    .down-load-wrapper {
      display: flex;
      align-items: center;
      gap: 12px;
      max-width: 130px;
      .download-icon {
        width: 28px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(0, 0, 0, 0.8);
        font-size: 14px;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        background: transparent;
        transition: all 0.3s ease;
        cursor: pointer;
        font-size: 16px;
      }
      .gpt-btn {
        height: 28px;
        line-height: 28px;
        background: rgba(0, 0, 0, 0.06);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        min-width: 28px;
        padding: 0 6px;
        color: #000;
        font-size: 12px;
        font-weight: 400;
        border-radius: 8px;
        cursor: pointer;
        .icon-wrapper {
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background: rgb(25, 195, 125);
          display: inline-flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  .right-inner-div {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    transition: all 0.3s ease-in-out;
    background: #f6f6f6;
    width: 100%;
    border-radius: 0 0 8px 8px;
    height: calc(100vh - 65px);
    #col-3 {
      height: 100% !important;
      max-width: 864px;
      //   padding: 0 24px 16px;
      .main-chat-wrapper {
        position: relative;
        // height: calc(100% - 1px);
        #chat {
          padding: 0 20px;
          height: calc(100% - 90px);
          overflow-y: auto;
          position: relative;
          .user-chat-wrapper {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 12px;
            margin: 12px 0;
            .img-wrapper {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
              }
            }
            .content-wrapper {
              background: $white;
              border-radius: 12px;
              padding: 12px;
              min-height: 40px;
              min-width: 32px;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 10px;
              box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
              .icon-wrapper {
                color: rgb(255, 82, 28);
                font-size: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
              }
              .content-inner-wrapper {
                display: flex;
                flex-direction: column;
                strong {
                  font-size: 14px;
                  font-weight: 600;
                  line-height: 1.2;
                  margin-bottom: 5px;
                  color: #000;
                }
                span {
                  display: inline-flex;
                  font-size: 12px;
                  height: 12px;
                  line-height: 12px;
                  color: rgba(0, 0, 0, 0.5);
                }
              }
            }
          }
          #summary {
            .summery-wrapper {
              background: #d8d8ff;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              min-height: 40px;
              min-width: 32px;
              padding: 12px;
              border-radius: 12px;
              p {
                font-size: 16px;
                cursor: pointer;
                color: $black;
                border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                padding-bottom: 20px;
              }

              h5 {
                font-size: 12px;
                font-weight: 600;
                color: #000;
                line-height: 12px;
                margin: 12px 0;
              }
              .suggested-list {
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: flex-start;

                li {
                  button {
                    display: inline-flex;
                    padding: 8px;
                    background: rgba(255, 255, 255, 0.8);
                    border-radius: 4px;
                    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.04),
                      0 4px 12px rgba(0, 0, 0, 0.06);
                    cursor: pointer;
                    border: 0;
                    outline: 0;
                    max-width: max-content;
                    span {
                      text-align: left;
                      font-size: 15px;
                      line-height: 20px;
                      font-family: inherit;
                      display: inline-flex;
                    }
                  }
                }
              }
            }
          }
          .more-action-wrapper {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 8px;
            .summery-action-warpper {
              ul {
                display: flex;
                align-items: center;
                gap: 10px;
                height: 32px;
                line-height: 20px;
                padding: 6px 15px;
                background: #d8d8ff;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
                border-radius: 8px;
                cursor: pointer;
                li {
                  span {
                    i {
                      font-size: 16px;
                      color: rgba(0, 0, 0, 0.6);
                    }
                  }
                }
              }
            }
            .drop-down-wrapper {
              display: flex;
              align-items: center;
              gap: 5px;
              height: 32px;
              line-height: 20px;
              padding: 6px 15px;
              background: #d8d8ff;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
              border-radius: 8px;
              .icon-wrapper {
                i {
                  color: #9149ff;
                }
              }
              select {
                border: 0;
                background: transparent;
                &:focus {
                  border: 0;
                  outline: 0;
                }
                option{
                    appearance: none;
                    font-size: 16px;
                }
              }
            }
          }
          #chat-list {
            .keys {
              background: var(--qustionBg);
              width: 60%;
              border-radius: 5px;
              padding: 6px 12px;
              box-shadow: 0 0 3px #d1d2da;
              margin: 15px 0 0 auto;
              color: var(--qustionColor);
              font-size: 14px;
              border: 1px solid var(--qustionBorder);
              transition: all 0.2s ease-in;
              &:hover {
                box-shadow: 1px 1px 10px 1px var(--qustionHoverBg);
              }
              .values {
                background: var(--answerBg);
                max-width: 60%;
                border-radius: 5px;
                padding: 10px 25px 6px 10px;
                box-shadow: 0 0 3px #d1d2da;
                margin: 15px auto 0 0;
                position: relative;
                font-size: 14px;
                color: var(--answerColor);
                border: 1px solid var(--answerColor);
                transition: all 0.2s ease-in;
                &:hover {
                  box-shadow: 1px 1px 10px 1px var(--answerHoverBg);
                }
              }
            }
          }
        }
        #chat-form {
          padding: 12px;
          background: $white;
          border: 1px solid rgba(0, 0, 0, 0.12);
          border-radius: 12px;
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.04),
            0 4px 12px rgba(0, 0, 0, 0.06);
          max-width: 90%;
          margin: 0 auto;
          .form-inner-wrapper {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            position: relative;
            gap: 8px;
            input#queryInput {
              width: 100%;
              height: 44px;
              border: 1px solid #cbd5e0;
              border-radius: 8px;
              padding: 10px 20px;
              margin: 0 !important;
              resize: none;
              color: rgba(0, 0, 0, 0.88);
              font-size: 14px;
              font-weight: 500;
              &::placeholder {
                color: #cdcdcd;
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 0.3px;
                font-family: inherit;
              }
              &:focus {
                border: 1px solid #3c38ff;
                outline: none;
              }
            }
          }
          .ask-button {
            width: 56px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px;
            border: none;
            border-radius: 8px;
            color: #fff;
            font-size: 16px;
            font-weight: 600;
            background-color: #3c38ff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16),
              0 8px 8px rgba(0, 0, 0, 0.16);
            transition: all 0.3s ease;
            cursor: not-allowed;
            opacity: 0.6;
          }
        }
      }
    }
  }
}

#col-2 {
  width: 100%;
  height: calc(100% - 50px)!important;
  transition: all 0.3s ease-in-out;
  padding: 20px 30px;
  border-radius: 20px;
  overflow: hidden;
}
#col-2.active {
  //   width: 750px;
}

#col-2 #pdf {
  height: calc(100% - 1px);
  width: 100%;
}

#col-2 #pdf embed {
  width: 100%;
  height: 100%;
}

/* media quieries css start */

@media (max-width: 1399px) {
  #col-1 {
    width: 250px;
  }

  #chat-history ul li button {
    padding: 6px 10px;
    font-size: 14px;
  }

  #col-2.active {
    width: 550px;
  }

  .right-div .right-inner-div.active {
    grid-template-columns: 550px auto;
  }
}

/* media quieries css end */

/* loader css start */

#loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.chat-list {
  margin-bottom: 65px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* loader css end */

/* This is new css  added by roohan*/

#toolbar {
  display: none !important;
}
viewer-toolbar {
  display: none !important;
}

#col-3 #chat #summary .summery-wrapper {
  background-color: var(--white);
}

#chat-form-outer-wraper {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}

/* this is header css  */

header {
  padding: 12px 10px;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
}

header nav ul li a {
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 45px;
  font-size: 14px;
  /* border: 1px solid #24a0ed; */
  color: var(--white);
  background: linear-gradient(15.46deg, #4a25e1 26.3%, #7b5aff 86.4%);
}

header nav ul li a.active,
header nav ul li a:active,
header nav ul li a:hover {
  border: 1px solid #4a25e1;
  background: transparent;
  color: #4a25e1;
}
